{{ define "main" }}
<article class="media">
    <div class="media-content">
        <div class="content">
            <header class="is-large is-family-secondary">
                <h1>{{ .Title }}</h1>
            </header>

            {{ if ne .Params.Video ""}}
            <p><iframe width="auto" height="100%" src="https://www.youtube.com/embed/{{ .Params.Video }}"
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe></p>
            {{ end }}

            <p><audio src=" {{ .Params.Audio }}" controls></audio></p>

            {{ .Content }}
        </div>
    </div>
</article>
{{ end }}